{% extends "layouts/base-auth.html" %}
{% import "macros/auth-macros.html" as ui %}

{% block page_title %}Recover Account{% endblock %}

{% block lottie %}
  {{ ui.lottie_animation("forgot_pwd.lottie") }}
{% endblock %}

{% block form_data %}
<form method="POST" action="#" class="w-full form-container space-y-4">
  
  {{ ui.input_field("email", "email", "Email Address", "user@example.com") }}

  <button
    type="submit"
    class="block w-full px-4 py-3 my-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-green-800 border border-transparent rounded-lg hover:bg-primary focus:outline-none"
  >
    Send Reset Link
  </button>

  <hr class="my-8" />

  <!-- Social logins -->
  {{ ui.social_button("google", "#", "Join with") }}
  {{ ui.social_button("facebook", "#", "Join with") }}

  <!-- Footer links -->
  <div class="mt-4 flex items-center gap-1 justify-around">
    <a class="text-xs md:text-sm font-medium text-gray-400 dark:text-gray-100 hover:text-primary"
       href={{ url_for('index') }}>
       Guest Booking
    </a>
    
    <a class="text-xs md:text-sm font-medium text-gray-400 dark:text-gray-100 hover:text-primary"
       href="mailto:support@oliveglitters.com?subject=Need%20Assistance%20with%20Account%20Recovery&body=Hello%20Support%2C%0A%0AI%20need%20help%20with%20recovering%20my%20account.%20Please%20assist.%0A%0AThank%20you.">
       Get Help
    </a>
  </div>
</form>
{% endblock %}
