{% extends "layouts/base-auth.html" %}
{% import "macros/auth-macros.html" as ui %}

{% block page_title %}Sign In{% endblock %}

{% block lottie %}
  {{ ui.lottie_animation("login.lottie") }}
{% endblock %}

{% block form_data %}
<form method="POST" action="#" class="w-full form-container space-y-4">
  
  {{ ui.input_field("email", "email", "Email Address", "user@example.com") }}
  {{ ui.password_field("password", "Password", "********") }}

  <button
    type="submit"
    class="block w-full px-4 py-3 my-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-green-800 border border-transparent rounded-lg hover:bg-primary focus:outline-none"
  >
    Log in
  </button>

  <hr class="my-8" />

  <!-- Social logins -->
  {{ ui.social_button("google", "#") }}
  {{ ui.social_button("facebook", "#") }}

  <!-- Footer links -->
  <div class="mt-4 flex items-center gap-1 justify-around">
    <a class="text-xs md:text-sm font-medium text-gray-400 dark:text-gray-100 hover:text-primary"
       href={{ url_for('auth.password_reset_link') }}>
       Trouble Signing in?
    </a>
    <a class="text-xs md:text-sm font-medium text-gray-400 dark:text-gray-100 hover:text-primary"
       href={{ url_for('auth.register_user') }}>
       Create account
    </a>
  </div>
</form>
{% endblock %}
{% block page_js_file %}
  <script>
        function togglePassword() {
        const passwordInput = document.getElementById("password");
        const eyeIcon = document.getElementById("eyeIcon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.setAttribute("stroke", "green");
        } else {
            passwordInput.type = "password";
            eyeIcon.setAttribute("stroke", "currentColor");
        }
        }
    </script>
{% endblock %}