{% extends "layouts/base-auth.html" %}
{% import "macros/auth-macros.html" as ui %}

{% block page_title %}User Registration{% endblock %}

{% block lottie %}
  {{ ui.lottie_animation("user_registration.lottie") }}
{% endblock %}

{% block form_data %}
<form id="registerForm" method="POST" action="" class="w-full form-container space-y-3 motion-blur-in-md motion-duration-[2s]">
  
  {{ ui.input_field("email", "email", "Email Address", "user@example.com") }}
  <p id="emailErr" class="hidden text-xs text-red-500 pl-2 pb-2">
    Invalid email address.
  </p>
 <p class="blnkErr hidden text-xs text-red-500 pl-2 pb-2">
    This field is required.
  </p>

  {{ ui.password_field("raw_password", "Password", "********") }}
  <p class="blnkErr hidden text-xs text-red-500 pl-2 pb-2">
    This field is required.
  </p>

  
  {{ ui.input_field("password", "password", "Confirm Password", "************") }}
  <p id="pwdErr" class="hidden text-xs text-red-500 pl-2 pb-2">
    Password does not match.
  </p>
  <p class="blnkErr hidden text-xs text-red-500 pl-2 pb-2">
    This field is required.
  </p>
  <p class="hidden text-xs text-green-500 pl-2">
    password match.
  </p>

  <button
    type="submit"
    class="block w-full px-4 py-3 my-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-green-800 border border-transparent rounded-lg hover:bg-primary focus:outline-none"
  >
    Create Account
  </button>

  <hr class="my-8" />

  <!-- Social logins -->
  {{ ui.social_button("google", "#", "Sign up with") }}
  {{ ui.social_button("facebook", "#", "Sign up with") }}

  <!-- Footer links -->
  <div class="mt-4 flex items-center gap-1 justify-around">
    <a class="text-xs md:text-sm font-medium text-gray-400 dark:text-gray-100 hover:text-primary"
       href={{ url_for('auth.user_login') }}>
       Already have an account? Sign In
    </a>
    <!--
    <a class="text-xs md:text-sm font-medium text-gray-400 dark:text-gray-100 hover:text-primary"
       href="#">
       Guest Access
    </a> -->
  </div>
</form>
{% endblock %}
{% block page_js_file %}
  <script type="module" src={{ url_for("static", filename="js/auth/togglePassword.js") }}></script>
  <script type="module" src={{ url_for("static", filename="js/auth/userRegistration.js") }}></script>
{% endblock %}