<!DOCTYPE html>
<html lang="en" x-data="theme" :class="{ 'dark': dark }">
    <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block page_title %}{% endblock %}</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
			rel="stylesheet"
			/>
		<link rel="stylesheet" href={{ url_for("static", filename="css/primary.css") }}>
		<link rel="stylesheet" href={{ url_for("static", filename="css/vendors/chart.min.css") }}>
    </head>
    <body>
        <div
            x-data="sidebar"
            class="flex h-screen bg-gray-50 dark:bg-gray-900"
            :class="{ 'overflow-hidden': isOpen }"
        >
            <!-- Desktop sidebar -->
            {% include "components/sidebar/desktop-sidebar.html" %}

            <!-- Mobile sidebar -->
            {% include "components/sidebar/mobile-sidebar.html" %}
        
            <div class="flex flex-col flex-1">
                {% include "components/header.html" %}

                <main class="h-full pb-16 overflow-y-auto">
                    <!-- Page content -->
                    <section class="container px-6 mx-auto grid">
                        <h2
                            class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                        >
                            {% block dashboard_menu_tile %}{% endblock %}
                        </h2>
                        {% block content %}{% endblock %}
                    </section>
                </main>
            </div>
        </div>
        <!--
		    <footer class="footer sm:footer-horizontal footer-center text-base-content p-4">
			    <aside>
				    <p>Copyright © Olive Glitters - All right reserved by ACME Industries Ltd</p>
			    </aside>
		    </footer>
		-->
		
		<script src={{ url_for("static", filename="assets/js/init-alpine.js") }} defer></script>
    	<script src={{ url_for("static", filename="js/vendors/alpine.min.js") }} defer></script>
		<script src={{ url_for("static", filename="js/vendors/chartjs.umd.js") }} defer></script>
		<script src={{ url_for('static', filename='assets/js/charts-lines.js') }} defer></script>
		<script src={{ url_for('static', filename='assets/js/charts-pie.js') }} defer></script>
    </body>
</html>
