{% extends "layouts/base-layout.html" %}
{% from "components/utils/macros.html" import stat_card %}

{% block page_title %}Booking - Olive Glitters{% endblock %}

{% block content %}
<div class="grid gap-6 mb-16 md:grid-cols-2 xl:grid-cols-4">
	{{ stat_card(
		'<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
			<path
				d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
				></path>
		</svg>',
		"text-pink-600",
		"bg-pink-100",
		"Total Bookings",
		booking_stat.total_bookings
	) }}

	{{ stat_card(
		'<svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor"
     		stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"
		>
  			<circle cx="9" cy="8" r="3"/>
  			<path d="M4 20c0-2.5 2.7-4.5 5-4.5h4c2.3 0 5 2 5 4.5"/>
  			<circle cx="18.5" cy="6.5" r="3.5" fill="currentColor"/>
  			<path d="M17.3 6.5l1 1.2 2-2" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>',
		"text-green-500",
		"bg-green-100",
		"Client Bookings",
		booking_stat.client_bookings
	) }}

	{{ stat_card(
		'<svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor"
     		stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"
		>
  			<circle cx="9" cy="8" r="3"/>
  			<path d="M4 20c0-2.5 2.7-4.5 5-4.5h4c2.3 0 5 2 5 4.5"/>
  			<circle cx="18.5" cy="6.5" r="3.5" stroke-dasharray="2 2"/>
		</svg>',
		"text-teal-500",
		"bg-teal-100",
		"Guest Bookings",
		booking_stat.guest_bookings
	) }}

	{{ stat_card(
		'<svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor"
     		stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
  			<circle cx="9" cy="8" r="3"/>
			<path d="M4 20c0-2.5 2.7-4.5 5-4.5h4c2.3 0 5 2 5 4.5"/>
			<circle cx="18.5" cy="6.5" r="3.5" fill="currentColor"/>
			<path d="M17.2 6.5l1 1.2 2-2" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>',
		"text-yellow-600",
		"bg-yellow-100",
		"Active Clients",
		"874"
	) }}
</div>

<!--<h4
	class="ml-2 mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
	>
	All Clients
</h4>-->

<div class="flex items-center justify-between mb-4 gap-2">
  <!-- Title -->
  <h4 class="pl-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    All Bookings
  </h4>


  <!-- Filters -->
  <div>
    <select
      class="rounded-lg border-gray-300 dark:border-gray-600 dark:bg-gray-700 text-gray-500 dark:text-gray-200 text-sm px-3 py-2 focus:outline-none focus:ring-1 focus:ring-secondary focus:border-none"
    >
      <option value="">Filter</option>
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
      
    </select>
  </div>
</div>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
	<div class="w-full overflow-x-auto">
		<table class="w-full whitespace-no-wrap table-auto">
			<thead>
				<tr
					class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-100 dark:text-gray-400 dark:bg-gray-800"
					>
					<th class="px-4 py-3">Client</th>
					<th class="px-4 py-3">Contact</th>
					<th class="px-4 py-3">Bookings</th>
					<th class="px-4 py-3">Spent</th>
					<!--<th class="px-4 py-3">Last Booking</th>-->
					<th class="px-4 py-3">Actions</th>
				</tr>
			</thead>
			<tbody
				class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
				>
				{% if clients_info %}
					{% for client in clients_info %}
						<tr class="text-gray-700 dark:text-gray-100">
							<td class="px-4 py-3">
								<div class="flex items-center text-sm">
									<!-- Avatar with inset shadow -->
									<div
										class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
										>
										<img
											class="object-cover w-full h-full rounded-full"
											src={{ url_for('static', filename='image/user_profile/' ~ client.profile_img) }}
											alt=""
											loading="lazy"
											/>
										<div
											class="absolute inset-0 rounded-full shadow-inner"
											aria-hidden="true"
											></div>
									</div>
									<div>
										<p class="text-xs md:test-sm font-semibold">{{ client.name }}</p>
										<p class="text-xs text-gray-600 dark:text-gray-400 whitespace-nowrap">
											{{ client.city }}, {{ client.province }}
										</p>
									</div>
								</div>
							</td>
							<td class="px-4 py-3 text-sm">
								<div>
									<p class="test-sm">{{ client.email }}</p>
									<p class="text-xs text-gray-600 dark:text-gray-400">
										{{ client.phone }}
									</p>
								</div>
							</td>
							<td class="px-4 py-3 text-xs md:text-sm">
								<span
									class="px-2 py-1 leading-tight 
                     					{% if client.status == 'Active' %} text-green-600 bg-green-100 dark:text-white dark:bg-green-600
                     					{% elif client.status == 'Inactive' %} text-yellow-600 bg-yellow-100 dark:text-white dark:bg-red-600
                     					{% else %} text-gray-600 bg-gray-100 dark:text-white dark:bg-gray-600
                     					{% endif %}
										rounded-full"
									>
									{{ client.status }}
								</span>
								<p class="mt-2 text-xs text-gray-600 dark:text-gray-400 whitespace-nowrap">
									{{ client.bookings }} Bookings
								</p>
							</td>
							<td class="px-4 py-3 text-xs md:text-sm whitespace-nowrap">
								$ {{ client.total_spent }}
							</td>
							<td class="px-4 py-3">
								<div class="flex items-center space-x-4 text-sm">
									<button
										class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-gray-300 rounded-lg dark:text-gray-400"
										aria-label="Edit"
										title="Edit Client Information"
										>
										<svg
											class="w-5 h-5"
											aria-hidden="true"
											fill="currentColor"
											viewBox="0 0 20 20"
											>
											<path
												d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
												></path>
										</svg>
									</button>
									<button
										class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-gray-400 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
										aria-label="Delete"
										title="Delete Client"
										>
										<svg
											class="w-5 h-5"
											aria-hidden="true"
											fill="currentColor"
											viewBox="0 0 20 20"
											>
											<path
												fill-rule="evenodd"
												d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
												clip-rule="evenodd"
												></path>
										</svg>
									</button>
								</div>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr class="text-gray-700 dark:text-green-800">
						<td class="px-4 py-3">
							<div class="flex items-center text-sm">
								<!-- Avatar with inset shadow -->
								<div
									class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
									>
									<img
										class="object-cover w-full h-full rounded-full"
										src={{ url_for('static', filename='image/user_profile/user-1.jpeg') }}
										alt=""
										loading="lazy"
									/>
									<div
										class="absolute inset-0 rounded-full shadow-inner"
										aria-hidden="true"
									></div>
								</div>
								<div>
									<p class="test-sm font-semibold">Hans Burger</p>
									<p class="text-xs text-gray-600 dark:text-gray-400">
											montreal, Quebec
									</p>
								</div>
							</div>
						</td>
						<td class="px-4 py-3 text-sm">
							<div>
								<p class="test-sm">user1@example.com</p>
								<p class="text-xs text-gray-600 dark:text-gray-400">
										+63 912 345 6789
								</p>
							</div>
						</td>
						<td class="px-4 py-3 text-xs md:text-sm">
							<span
								class="px-2 py-1 leading-tight text-green-600 bg-green-100 rounded-full dark:text-white dark:bg-orange-600"
							>
								Active
							</span>
							<p class="mt-2 text-xs text-gray-600 dark:text-gray-400">
								34 Bookings
							</p>
						</td>
						<td class="px-4 py-3 text-sm">
							$ 6389.00
						</td>
						<td class="px-4 py-3">
							<div class="flex items-center space-x-4 text-sm">
								<button
									class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-secondary rounded-lg dark:text-gray-400"
									aria-label="Edit"
									title="Edit Client Information"
								>
									<svg
											class="w-5 h-5"
											aria-hidden="true"
											fill="currentColor"
											viewBox="0 0 20 20"
											>
											<path
												d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
												></path>
										</svg>
									</button>
									<button
										class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-secondary rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
										aria-label="Delete"
										title="Delete Client"
										>
										<svg
											class="w-5 h-5"
											aria-hidden="true"
											fill="currentColor"
											viewBox="0 0 20 20"
											>
											<path
												fill-rule="evenodd"
												d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
												clip-rule="evenodd"
											></path>
									</svg>
								</button>
							</div>
						</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div
		class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
		>
		<span class="flex items-center col-span-3">
			Showing 1-9 of 100
		</span>
		<span class="col-span-2"></span>
		<!-- Pagination -->
		<span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
			<nav aria-label="Table navigation">
				<ul class="inline-flex items-center">
					<li>
						<button
							class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
							aria-label="Previous"
							>
							<svg
								class="w-4 h-4 fill-current"
								aria-hidden="true"
								viewBox="0 0 20 20"
								>
								<path
									d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
									clip-rule="evenodd"
									fill-rule="evenodd"
									></path>
							</svg>
						</button>
					</li>
					<li>
						<button
							class="px-3 py-1 text-white dark:text-primary transition-colors duration-150 bg-primary dark:bg-gray-100 border border-r-0 border-secondary dark:border-green-200 rounded-md"
							>
						1
						</button>
					</li>
					<li>
						<button
							class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
							>
						2
						</button>
					</li>
					<li>
						<button class="px-3 py-1">3</button>
					</li>
					<li>
						<button class="px-3 py-1">4</button>
					</li>
					<li>
						<span class="px-3 py-1">...</span>
					</li>
					<li>
						<button class="px-3 py-1">8</button>
					</li>
					<li>
						<button
							class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
							>
						9
						</button>
					</li>
					<li>
						<button
							class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
							aria-label="Next"
							>
							<svg
								class="w-4 h-4 fill-current"
								aria-hidden="true"
								viewBox="0 0 20 20"
								>
								<path
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"
									fill-rule="evenodd"
									></path>
							</svg>
						</button>
					</li>
				</ul>
			</nav>
		</span>
	</div>
</div>


{% endblock %}