/* Notification styling */
#notification {
    display: none;
    position: fixed;
    top: 8%;
    right: 20px;
    padding: 10px 20px;
    background-color: #198754; /*#17df8c; /* Green background */
    color: rgb(253, 251, 251);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  /* Notification for warning */
  #notification.warning {
    background-color: #FFC107; /* #FFBF17 Orange background */
  }
  /* notification for error */
  #notification.error {
    background-color: #DC3545; /* #FF2B01 Red background */
  }
  /* notification for info */
  #notification.info {
    background-color: #2196F3; /* #FF2B01 Red background */
  }
  
  @media (max-width: 768px) {
    #notification {
      top: 5%;
      right: 7px;
    }
    
  }