<div id="alerts-container" 
    class="fixed top-20 left-1/2 -translate-x-1/2
          z-50 max-w-md w-full pointer-events-none"
  >

  <div
    class="alert relative my-3 mx-4 rounded-lg border
        border-green-400 bg-green-50 px-4 py-3 sm:py-4
        shadow-lg dark:border-green-500/20 dark:bg-green-500/15
        transform transition-all duration-700 ease-in-out
        opacity-0 -translate-y-5 pointer-events-auto"
  >
    <div class="flex flex-col sm:flex-row items-center
            sm:items-start gap-3 text-center sm:text-left">
      <!-- Success Icon -->
      <div class="flex-shrink-0 text-green-400">
        <svg
          class="w-5 h-5 sm:w-6 sm:h-6"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 2a10 10 0 100 20 10 10 0 000-20zm3.62 8.74a.9.9 0 00-1.27 0l-3.16 3.16-1.54-1.54a.9.9 0 00-1.27 1.27l2.18 2.18c.35.35.92.35 1.27 0l3.79-3.79a.9.9 0 000-1.28z"
          />
        </svg>
      </div>

      <!-- Text -->
      <div class="flex-1 min-w-0">
        <h4 class="text-sm font-semibold text-green-500 dark:text-primary mb-2">
          Login Successful!
        </h4>
        <p class="text-xs sm:text-sm text-gray-400 dark:text-gray-600">
          You can insert a description for the message here. The text relates to
          the action that has been performed.
        </p>
      </div>
    </div>
  </div>
</div>