<!-- Backdrop -->
<div
  x-show="isOpen"
  x-transition:enter="transition ease-in-out duration-150"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in-out duration-150"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center md:hidden"
  @click="close"   
  style="display:none"
></div>
<aside
	class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-gray-800 md:hidden motion-opacity-in-0 motion-duration-[4s]"
  	x-show="isOpen"
  	x-transition:enter="transition ease-in-out duration-150"
  	x-transition:enter-start="opacity-0 transform -translate-x-20"
  	x-transition:enter-end="opacity-100 transform translate-x-0"
  	x-transition:leave="transition ease-in-out duration-150"
  	x-transition:leave-start="opacity-100 transform translate-x-0"
  	x-transition:leave-end="opacity-0 transform -translate-x-20"
  	@click.away="close"
  	@keydown.escape.window="close"
  	style="display:none"
>
	{% include "components/sidebar/navigation.html" %}
</aside>
