{% from "macros/menu-macros.html" import menu_item with context %}

<div class="py-4 text-gray-500 dark:text-gray-400">
	<a class="ml-6 text-lg font-bold text-primary dark:text-gray-200" href="#">
	Olive Glitters
	</a>

	{% if user.role.value == "admin" %}
		{% include "components/sidebar/menus/admin.html" %}

	{% elif user.role.value == "agent" %}
		{% include "components/sidebar/menus/agents.html" %}

	{% elif user.role.value == "client" %}
		{% include "components/sidebar/menus/clients.html" %}
	
	{% endif %}
</div>
