<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta name="description" content="Glimmr - Your trusted cleaning service for homes and offices. Book now for a sparkling clean space!">
        <meta name="keywords" content="cleaning service, home cleaning, office cleaning, professional cleaners, deep cleaning, standard cleaning, specialized cleaning, olive glitters, glimmr, sammykingx">
        <title>Booking Service - Olive Glitters Cleaning Service</title>
        <link rel="icon" type="image/png" href={{ url_for("static", filename="image/favicon.png") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="css/output.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="css/animations.css") }}>
    </head> 
    <body class="min-h-screen bg-gradient-to-br from-gray-50 to-gray-100">
        <!-- Header -->
        {% include "components/header.html" %}
        <main>
            <section class="max-w-4xl mx-auto px-4 py-8">
                <div class="bg-white rounded-2xl shadow-xl overflow-hidden">
                    <!-- Step 1: Service Selection -->
                    {% include "steps/backups/service-selection.html" %}

                    <!-- Step 2: Room Selection -->
                    {% include "steps/backups/room-selection.html" %}

                    <!-- Step 3: Frequency Selection -->
                    {% include "steps/backups/frequency-selection.html" %}

                    <!-- Step 4: Add-on Services -->
                    {% include "steps/backups/service-addons.html" %}

                    <!-- Step 5: Date & Time Selection -->
                     {% include "steps/backups/booking-availability.html" %}
                    
                    <!-- Step 6: Payment Options -->
                    {% include "steps/backups/payment-options.html" %}

                    <!-- Step 7: Personal Information -->
                    {% include "steps/backups/client-service-Info.html" %}

                    <!-- Step 8: Booking Summary -->
                    {% include "steps/backups/booking-summary.html" %}

                    <!-- Navigation -->
                    {% include "components/bottom-navigation.html" %}
                </div>
            </section>

            <!-- Loading Modal -->
            {% include "components/loading-modal.html" %}

            <!-- Booking Complete Modal -->
            {% include "steps/booking-complete-modal.html" %}
            
        </main>
        <script src={{ url_for("static", filename="js/app-bkp.js") }}></script>
    </body>
</html>